@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-color: #007aff;
  --black-color: hsla(0, 0%, 0%, 0.8);
  --gray-color: #8e8e93;
  --light-gray-color: #e5e5ea;
}

#root {
  max-width: 1280px;
  margin: 0;
}

::selection {
  background-color: var(--main-color);
  color: white;
}

h1::after {
  content: '';
  position: absolute;
  top: -6px;
  left: -16px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--main-color);
}

h4 {
  border-bottom: 1px solid var(--light-gray-color);
  @apply text-lg font-semibold pb-2 mb-2 mt-10;
}
ul {
  margin-left: 2rem;
  list-style-type: disc;
  li {
    margin-top: 0.5rem;
  }
}
ul > li > ul {
  margin-left: 1.2rem;
  list-style-type: circle; /* 중첩된 불릿 스타일 */
}

/* a태그 밑줄 offset 설정 */
a {
  text-underline-offset: 2px;
}
strong {
  font-weight: 600;
}
p,
li {
  word-break: keep-all;
}
body {
  max-width: 1280px;
  margin: 0 auto;
  color: var(--black-color);
  font-size: 16px;
}

/* ios chat bubble message */
.shared {
  position: relative; /* Setup a relative container for our psuedo elements */
  padding: 0.25rem 0.75rem;
  line-height: 24px;
  word-wrap: break-word; /* Make sure the text wraps to multiple lines if long */
  border-radius: 25px;

  &:before {
    width: 20px;
    overflow: hidden;
  }

  &:after {
    width: 26px;
    background-color: white; /* All tails have the same bg cutout */
    overflow: hidden;
  }

  &:before {
    position: absolute;
    bottom: 0;
    height: 16px; /* height of our bubble "tail" - should match the border-radius above */
    content: '';
  }
  &:after {
    position: absolute;
    bottom: 0;
    height: 20px; /* height of our bubble "tail" - should match the border-radius above */
    content: '';
  }
}
.message {
  background-color: var(--main-color);
  color: white;
  &:before {
    left: -8px;
    background-color: var(--main-color);
    border-bottom-right-radius: 16px 14px;
  }

  &:after {
    left: -26px;
    border-bottom-right-radius: 10px;
  }
}
@media print {
  * {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
}
